apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-mail
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        environment: dev
    spec:
      containers:
        - name: demo-mail
          env:
            - name: ENVIRONMENT
              value: "dev"
