apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: opsera-fbb11-dev

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app: fbb11
  tenant: opsera
  managed-by: opsera-c2c
