apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

# Common labels for all resources (RULE 106 - includeSelectors: false)
labels:
  - includeSelectors: false
    pairs:
      managed-by: opsera-c2c
      tenant: opsera
      app: february-mail
