# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# IDEs and editors
.idea
.vscode
*.swp
*.swo
*~
.DS_Store

# Misc
.git
.gitignore
README.md
.env
.env.*

# Build output (will be created during build)
dist
build

# CI/CD
.github
.opsera-*

# Kubernetes
k8s

# Documentation
docs
*.md
